
<%= form_for @list do |f| %>
  <p>
  <%= f.label :owner %><br>
  <%= f.text_field :owner %>
  </p>
  <%= f.label :country %><br> 
  <%= f.text_field :country %>
  <p>
  <%= f.file_field :photos, multiple: true %>
  </p>
  <%= f.submit %>
  </p>
  <% end %>